/* Reset CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilização do header */

header {
    height: 6vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilização da main */

main {
    height: 90vh;
    width: 100vw;
    background-color: rgb(129, 39, 39);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* Estilização do formulário */

form {
    box-shadow: 10px 10px 6px rgba(0, 0, 0, 0.473);
    background-color: rgb(141, 70, 70);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 16%;
    border: 1px solid black;
    border-radius: 5%;
}

/* Estilização dos labels */

label {
    font-size: 20px;
    display: block;
    margin-top: 20px;
    margin-bottom: 4px;
}

/* Estilização do botão Converter, chamado pelo ID por ser único */

#botaoConverter {
    margin: 15px;
}

/* Estilização do label Resultado */

.labelResultado {
    margin-top: -6px;
}

/* Estilização do campo onde exibe o resultado, chamado pelo ID por ser único */

#resultado {
    margin-bottom: 20px;
}

/* Estilização do footer */

footer {
    background-color: black;
    color: white;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
}